{% load static%}


<div class="card-panel white lighten-5 z-depth-1">
    <div class="row valign-wrapper">
        <div class="col s2">
            <img src="{{post.user.profile.image.url}}" alt="" class="circle responsive-img"
                 style="width:80px;height;80px,radius:40px"> <!-- notice the "circle" class -->
        </div>
        <div class="col s12">
            <div style="border-bottom:4px solid #dddddd;">
                <span class="tweet-username">{{post.user.username}} </span>
                <div class="tweet-posted">{{post.created_at}}</div>

            </div>
            <div class="flow-text" style="padding-top:10px;">
                {{post.description}}
            </div>
        </div>
    </div>
</div>