{% extends 'main/base.html'%}

{% block content%}

<div class="card">
    <div class="card-content center">
        <div>
                    <img src="{{user.profile.image.url}}" alt="profile-pic" class="circle responsive-img"
             style="width:140px;height;140px,radius:70px:cover:fit;"><br>
            <span class="right"><a class="waves-effect waves-teal btn" href="{% url 'profile-edit' user.profile.pk %}">Edit</a></span>
        </div>
        <h5 style="padding-left:15px;">{{user.profile.bio}}</h5>
        <ul class="collection">
            <li class="collection-item">Location: {{user.profile.country}}</li>
            <li class="collection-item">Age: 26</li>
            <li class="collection-item">Occupation: {{user.profile.occupation}}</li>

        </ul>

    </div>
</div>
{% endblock %}

{% block extra-css %}
<style rel="stylesheet">


</style>
{% endblock %}

